<section class="section-one">
  <div class="main-content">
    <img [src]="data.profilePic" alt="profile image">

    <h4>{{ data.firstName }} {{ data.lastName }}</h4>

    <h5>{{ data.profession }}</h5>

<!--    <div class="contacts">-->
<!--      <div><a href="" target="_blank" rel="noopener"><img src="/form-details/phone.svg" alt=""></a></div>-->
<!--      <div><a href="" target="_blank" rel="noopener"><img src="/form-details/mail-open.svg" alt=""></a></div>-->
<!--      <div><a href="" target="_blank" rel="noopener"><img src="/form-details/location-arrow.svg" alt=""></a></div>-->
<!--    </div>-->
  </div>
</section>

<!--<section class="section-two">-->
<!--  <h4>{{ data.companySummary }}</h4>-->
<!--</section>-->


