<section>

  <form class="main-content" [formGroup]="qrCodeForm" (ngSubmit)="submitDetails(qrCodeForm)">
    <h2>Add content</h2>

    <div class="form-group" [class.show]="selectedCardId === '1'">
      <div class="heading" (click)="setSelectedCardId('1')">
        <img class="main-img" src="/forms/design.svg" alt="design icon">

        <div>
          <h4>Design</h4>
          <p>Choose a color theme for your page (required)</p>
        </div>

        <img class="right-arrow" src="/forms/right-arrow.svg" alt="right arrow image">
      </div>

      <div class="content color-box">
        <p>Color Palette</p>

        <div class="color-palette">
          <div [style.background]="qrCodeForm.get('primaryColor')?.value"></div>
          <div [style.background]="qrCodeForm.get('secondaryColor')?.value"></div>
        </div>

        <div class="color-inputs">

          <label>Primary Color</label>
          <label>Secondary Color</label>

          <div>
            <input type="color" formControlName="primaryColor" id="primaryColor">

            <p>{{ qrCodeForm.get('primaryColor')?.value }}</p>
          </div>

          <div>
            <input type="color" formControlName="secondaryColor" id="secondaryColor">

            <p>{{ qrCodeForm.get('secondaryColor')?.value }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" [class.show]="selectedCardId === '2'">
      <div class="heading" (click)="setSelectedCardId('2')">
        <img class="main-img" src="/forms/personal-account.svg" alt="personal info icon">

        <div>
          <h4>Personal Information</h4>
          <p>Fill in your information.</p>
        </div>

        <img class="right-arrow" src="/forms/right-arrow.svg" alt="right arrow image">
      </div>

      <div class="content">
        <div class="img-box">
          <label for="upload-image">
            <img [src]="imagePreview ?? '/forms/image-upload.png'" alt="upload image">
          </label>
          <input (change)="onFileSelected($event)" type="file" accept="image/*" id="upload-image" hidden>
        </div>

        <div class="info">
          <div>
            <label for="firstName">Name (required)</label>
            <input type="text" formControlName="firstName" id="firstName" placeholder="Eg. Kwesi">
          </div>

          <div>
            <label for="lastName">Surname (required)</label>
            <input type="text" formControlName="lastName" id="lastName" placeholder="Eg. Annoh">
          </div>
        </div>

      </div>
    </div>

    <div class="form-group" [class.show]="selectedCardId === '3'">
      <div class="heading" (click)="setSelectedCardId('3')">
        <img class="main-img" src="/forms/contact-phonebook.svg" alt="contact details icon">

        <div>
          <h4>Contact Details</h4>
          <p>Provide the contact information you want displayed on your vCard.</p>
        </div>

        <img class="right-arrow" src="/forms/right-arrow.svg" alt="right arrow image">
      </div>

      <div class="content contacts">
        <div class="contact-details">
          <div class="head">
            <h5>Add Phone (required)</h5>

            <img (click)="addContact(phones)" src="/forms/plus-square.svg" alt="plus icon">
          </div>

          <div class="input-container">
            <div formArrayName="phones">

              @for (phone of phones.controls; track $index; let i = $index) {

                <div class="container" [formGroupName]="i">

                  <div>
                    <label>Label (required)</label>

                    <input type="text" formControlName="label" placeholder="E.g. Work Phone">
                  </div>

                  <div>
                    <label>Phone Number (required)</label>

                    <input type="text" formControlName="data" placeholder="E.g. 054...">
                  </div>

                  <img src="/forms/delete-icon.svg" (click)="deleteContact(phones, i)" alt="delete">

                </div>

              }

            </div>
          </div>

        </div>

        <div class="contact-details">
          <div class="head">
            <h5>Add Email (required)</h5>

            <img (click)="addContact(emails)" src="/forms/plus-square.svg" alt="plus icon">
          </div>

          <div class="input-container">
            <div formArrayName="emails">

              @for (e of emails.controls; track $index; let i = $index) {

                <div class="container" [formGroupName]="i">

                  <div>
                    <label>Label</label>

                    <input type="text" formControlName="label" placeholder="E.g. My Personal Email">
                  </div>

                  <div>
                    <label>Email</label>

                    <input type="email" formControlName="data" placeholder="E.g. qr@gmail.com">
                  </div>

                  <img src="/forms/delete-icon.svg" (click)="deleteContact(emails, i)" alt="delete">

                </div>

              }

            </div>
          </div>

        </div>

        <div class="contact-details">
          <div class="head">
            <h5>Add Website</h5>

            <img (click)="addContact(websites)" src="/forms/plus-square.svg" alt="plus icon">
          </div>

          <div class="input-container">

            <div formArrayName="websites">

              @for (w of websites.controls; track $index; let i = $index) {

                <div class="container" [formGroupName]="i">

                  <div>
                    <label>Label</label>

                    <input type="text" formControlName="label" placeholder="E.g. Portfolio">
                  </div>

                  <div>
                    <label>Website</label>

                    <input type="text" formControlName="data" placeholder="E.g. https://...">
                  </div>

                  <img src="/forms/delete-icon.svg" (click)="deleteContact(websites, i)" alt="delete">

                </div>

              }

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="form-group" [class.show]="selectedCardId === '4'">
      <div class="heading" (click)="setSelectedCardId('4')">
        <img class="main-img" src="/forms/location.svg" alt="location icon">

        <div>
          <h4>Location</h4>
          <p>Provide your address and location.</p>
        </div>

        <img class="right-arrow" src="/forms/right-arrow.svg" alt="right arrow image">
      </div>

      <div class="content location">
        <div>
          <label for="street">Street</label>
          <input placeholder="E.g. Oxford St." type="text" formControlName="street" id="street">
        </div>

        <div>
          <label for="street-number">Street Number</label>
          <input placeholder="E.g. 12" type="text" formControlName="streetNumber" id="street-number">
        </div>

        <div>
          <label for="postal-code">Postal Code</label>
          <input placeholder="E.g. P.O Box MP 123 " type="text" formControlName="postalCode" id="postal-code">
        </div>

        <div>
          <label for="city">City (required)</label>
          <input placeholder="E.g. Accra" type="text" formControlName="city" id="city">
        </div>

        <div>
          <label for="region">Region/State (required)</label>
          <input placeholder="E.g. Greater Accra" type="text" formControlName="region" id="region">
        </div>

        <div>
          <label for="country">Country (required)</label>
          <input placeholder="E.g. Ghana" type="text" formControlName="country" id="country">
        </div>
      </div>
    </div>

    <div class="form-group" [class.show]="selectedCardId === '5'">
      <div class="heading" (click)="setSelectedCardId('5')">
        <img class="main-img" src="/forms/company.svg" alt="company icon">

        <div>
          <h4>Company Details</h4>
          <p>Add more information about the business you are part of.</p>
        </div>

        <img class="right-arrow" src="/forms/right-arrow.svg" alt="right arrow image">
      </div>

      <div class="content location">
        <div>
          <label for="company">Company (required)</label>
          <input placeholder="E.g. Philip & Bros. Ltd" type="text" formControlName="company" id="company">
        </div>

        <div>
          <label for="profession">Profession (required)</label>
          <input placeholder="E.g. Photographer" type="text" formControlName="profession" id="profession">
        </div>

        <div class="summary">
          <label for="company-summary">Summary</label>
          <textarea placeholder="As a photographer, I aim to ..." formControlName="companySummary" id="company-summary" cols="30"
                    rows="10"></textarea>
        </div>
      </div>
    </div>

<!--    <button [disabled]="qrCodeForm.invalid">-->
<!--      @if (isSubmitting) {-->
<!--        <app-circular-progress-indicator-component></app-circular-progress-indicator-component>-->
<!--      } @else {-->
<!--        Submit-->
<!--      }-->
<!--    </button>-->

      <button [disabled]="qrCodeForm.invalid">
        @if (isSubmitting) {
          <app-circular-progress-indicator-component></app-circular-progress-indicator-component>
        } @else {
          Copy Link
        }
      </button>

  </form>

</section>




