<section>
  <div class="main-content">
    <div class="text-container">
      <div class="heading">
        <img src="/home/qr-code-blue.svg" alt="blue qr code">

        <h2>Staff QR Code</h2>
      </div>

      <div class="box">
        <h1>The Most Convenient <br> QR Code Generator</h1>

        <p>Our customizable platform allows you to manage your QR codes in one centralized location.</p>

        <a routerLink="/forms">
          <img src="/home/qr-white-code-icon.svg" alt="white qr code">
          <h4>Generate link</h4>
        </a>
      </div>
    </div>
    <img class="big-qr" src="/home/qr-image.jpg" alt="qr code img">
  </div>
</section>
